    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2e8b57; /* Couleur verte pour l'écologie */
    margin-top: 20px;
    font-size: 2.5rem;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question {
    background-color: #e6f7e6;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.question p {
    font-size: 1.1rem;
    font-weight: normal;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #245d3b;
}

.level-title {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
    color: #2d7a4e;
}



